Package: dog-app
Version: 0.0.1-1
Section: misc
Priority: extra
Architecture: armel
Depends:
Installed-Size: 11747
Maintainer: Benedikt Niedermayr <niedermayr@embedded-projects.net>
Homepage:
Description: An anpplication for controlling an line based DOGM Display.
