table#network tr.head td {
	min-width: 120px;
	font: bold 24px Arial;
	color: #519DD6;
}

table#network tr td {
	font: bold 20px Arial;
	color: #555;
}

table#network tr.device input[type="text"] {
	width: 120px;
	border: 1px solid #4CB2FF;
	font-size: 16px;
	padding: 1px 3px;
}
