Package: gnublin-pca9555
Version: 0.0.1-1
Section: misc
Priority: extra
Architecture: armel
Depends:
Installed-Size: 270
Maintainer: Benedikt Niedermayr <support@embedded-projects.net>
Homepage:
Description: An anpplication for controlling a portexpander connected to GNUBLIN.
