Package: gnublin-lm75
Version: 0.0.1-2
Section: misc
Priority: extra
Architecture: armel
Depends:
Installed-Size: 11385
Maintainer: Simon Kunzmann <kunzmann@embedded-projects.net>
Homepage: www.gnublin.org
Description: An anpplication for reading the temperature via i2c from a LM75 sensor.
